<div ng-controller="LoginController" id="loginView" type="text/ng-template">
    <div class="login-form">
        <img src="/images/monju_logo_name.png" id="monju_logo"/>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="Eメールアドレスを入力" ng-model="email">
                <input type="text" class="form-control" id="password" placeholder="パスワードを入力" ng-model="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div>
        <button name="button" type="submit" class="btn btn-primary" id="login-button">
            <img src="/images/facebook.png"/>Facebook アカウントでログインする
        </button>
    </div>
</div>
