<div ng-controller="NewpasswordController" type="text/ng-template">
    <div class="login-form">
        <img src="/images/monju_logo_name.png" id="monju_logo"/>
        <form ng-submit="submit()">
            <h2>create new password</h2>
            <div class="form-group">
                <input type="text" class="form-control" id="password" placeholder="新しいパスワードを入力" ng-model="password">
                <input type="text" class="form-control" id="password2" placeholder="確認のために再度パスワードを入力" ng-model="password2">
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
</div>
